.container{
  display: flex;

}
.containerUser{
  display: flex;
  flex-direction: column;
}
.containerPost{
  display: flex;
  flex-direction: column;
  padding-left: 150px
}
p{
  font-size: medium;
  margin-top: 1px;
}
p1{
  font-size: x-large;
  text-decoration:underline;
}
p2{
  font-size: large;
  text-decoration:underline;
}
