body{
  background-image: url("http://www.pngmagic.com/product_images/all-free-download-blue-gradient-background.jpg");
  background-size: 100%;
  font-style: italic;
  color: black;
  font-size: 30px;
}
